@font-face {
  font-family: helveticaNeue;
  src: url(../fonts/HelveticaNeue.ttf);
  font-family: helveticaLight;
  src: url(../fonts/HelveticaNeueLight.ttf); }

body {
  font-family: helveticaLight;
  font-size: 16px;
  margin: 0;
  color: #515151; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: helveticaNeue; }
  body a {
    text-decoration: none; }
  body .blueText {
    color: #96b3e2; }
  body .red_bar {
    background: #ef4848; }
  body .blue_bar {
    background: #7fd5f4; }
  body .logo_bar {
    padding-top: 3rem;
    padding-left: 4rem; }
  body.index {
    background: url(../img/index/sentiment_analysis_bg.png) no-repeat top right;
    background-size: inherit; }
  body.analysis {
    background: #f7f7f7; }
    body.analysis .logo_bar {
      background: #fff;
      padding: 0; }
      body.analysis .logo_bar .logo img {
        margin: 0.8rem 0 0.8rem 4rem; }
      body.analysis .logo_bar .buttons {
        position: absolute;
        right: 0.2rem;
        font-size: 1.5rem;
        margin-top: 1.5rem; }
        body.analysis .logo_bar .buttons a {
          color: #fff; }
        body.analysis .logo_bar .buttons .button {
          background: linear-gradient(to right, #70a4ff, #84d9df);
          padding: 1.6rem; }
          body.analysis .logo_bar .buttons .button.switch {
            margin-left: 0.5rem; }
            body.analysis .logo_bar .buttons .button.switch i {
              color: #fff; }
    body.analysis .content {
      background: url(../img/analysis/decor.png) no-repeat top left;
      background-size: contain;
      padding: 15vh 20% 20vh 45%; }
      body.analysis .content .analysis {
        margin-bottom: 4rem; }
        body.analysis .content .analysis .title h1 {
          text-transform: uppercase;
          letter-spacing: 3px;
          font-weight: 400;
          font-size: 1.8rem; }
        body.analysis .content .analysis form {
          margin-right: 1rem; }
          body.analysis .content .analysis form textarea {
            width: 100%;
            padding: 1rem 0 0 1rem;
            font-size: 1.2rem; }
            body.analysis .content .analysis form textarea::placeholder {
              color: #515151;
              font-family: helveticaLight; }
        body.analysis .content .analysis .button {
          margin-top: 1rem;
          text-align: right; }
          body.analysis .content .analysis .button button {
            background: linear-gradient(to right, #70a4ff, #84d9df);
            color: white;
            padding: 15px 30px;
            font-size: 1.2rem;
            border-radius: 25px;
            border: none;
            font-weight: 300; }
            body.analysis .content .analysis .button button:hover {
              cursor: pointer; }
      body.analysis .content .level .title h2 {
        font-weight: 400; }
      body.analysis .content .level .levelBar,
      body.analysis .content .level .barText {
        width: 100%;
        display: inline-block; }
        body.analysis .content .level .levelBar .bar,
        body.analysis .content .level .levelBar .desc,
        body.analysis .content .level .barText .bar,
        body.analysis .content .level .barText .desc {
          width: 50%;
          float: left;
          height: 2rem; }
          body.analysis .content .level .levelBar .bar.right,
          body.analysis .content .level .levelBar .desc.right,
          body.analysis .content .level .barText .bar.right,
          body.analysis .content .level .barText .desc.right {
            text-align: right; }
      body.analysis .content .level .levelBar {
        margin-bottom: 0.5rem; }
  body.index .content {
    padding-top: 25vh;
    padding-bottom: 40vh;
    padding-left: 4rem; }
    body.index .content .title h1 {
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 5px;
      font-weight: 500;
      margin: 0; }
    body.index .content .description {
      width: 40%;
      font-size: 1.3rem;
      margin-bottom: 2rem;
      line-height: 1.3; }
    body.index .content .button a {
      text-decoration: none; }
      body.index .content .button a span {
        background: #96b3e2;
        color: white;
        padding: 10px 15px;
        font-size: 1.5rem;
        border-radius: 25px; }
  body .footer {
    position: absolute;
    bottom: 1rem;
    padding-left: 4rem; }
